/* About Us */


/* .udahddalm {
    padding: 0 !important;
    margin: 0 !important;
} */

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 576px) {
    .about-single-item-text {
        padding: 8px 8% 21px 8% !important;
    }
    .about-single-item-img {
        padding: 13px 8% 8px 8% !important;
    }
    .about-single-item-middle-img {
        padding: 34px 8% 34px 8% !important;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .about-card-header {
        padding-top: 21px !important;
    }
    .about-card {
        padding: auto 8% !important;
    }
}