/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
    margin-top: 34px;
    margin: auto 0 !important;
    padding: auto 0 !important;
}

.contact .info {
    width: 100%;
    background: #fff;
    padding: 0 !important;
    margin: 0 !important;
}

.contact .info i {
    font-size: 32px;
    color: black;
    float: left;
    line-height: 1;
    margin-top: 5px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #282828;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #5b5b5b;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

@media screen and (min-width: 992px) {
    .social_profile {
        display: inline;
        float: right;
        margin-top: 13px;
    }
    .section-title h1 {
        display: inline;
    }
}

@media screen and (max-width: 992px) {
    .social_profile {
        display: block;
        text-align: center;
    }
    .section-title h1 {
        text-align: center !important;
        margin-bottom: 13px;
    }
    .section-title h1::after {
        content: " ";
        display: block;
        width: 89px;
        height: 2px;
        background-color: #ef1b48;
        margin: auto;
        margin-bottom: 21px;
    }
}

.social_profile ul {
    padding: 0px !important;
    margin: 0px !important;
}

.social_profile ul li {
    display: inline;
    text-decoration: none;
}

.social_profile ul li a i {
    font-size: 34px;
    margin: auto 8px;
}

.contact .email-form {
    width: 100%;
    background: #fff;
}

.contact .email-form .form-group {
    padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
    border-color: #ef1b48;
}

.contact .email-form input {
    height: 44px;
}

.contact .email-form textarea {
    padding: 10px 12px;
}

.contact .email-form button[type="submit"] {
    font-size: 16px;
    background: #ef1b48;
    border: 0;
    padding: 8px 34px;
    color: #fff;
    transition: 0.3s;
    border-radius: 55px;
    float: right;
}

.contact .email-form button[type="submit"]:hover {
    background: #00b371;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}